{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <!--  Pub centrale  -->
    <div class="row pub">
        <div class="col">
            <img class="pubUn" src="assets/img/BODY/pub%20guitare.png" alt="pubguitare" title="pubguitare">
        </div>

        <div class="col">
            <img class="pubDeux" src="assets/img/BODY/banniere%20droite%20prix.png" alt="bannieredroite" title="bannieredroite">
        </div>
    </div>

    <!--  Bannière centrale  -->
    <div class="banniereCentre">
        <img src="assets/img/BODY/banniere%20centre%204%20pictos.png" alt="bannierecentre" title="bannierecentre">
    </div>

    <!--  Les catégories  -->
    <div class="categorie">
        <h1>Nos catégories</h1>

        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20guitare.png" alt="categorieguitare" title="categorieguitare"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20batterie.png" alt="categoriebatterie" title="categoriebatterie"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20piano.png" alt="categoriepiano" title="categoriepiano"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20micro.png" alt="categoriemicro" title="categoriemicro"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20sono.png" alt="categoriesono" title="categoriesono"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20cases.png" alt="categoriecases" title="categoriecases"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20cable.png" alt="categoriecable" title="categoriecable"></a>
        <a href="views/.php"><img class="categorieImg" src="assets/img/BODY/CATEGORIES%20saxo.png" alt="categoriesaxo" title="categoriesaxo"></a>
    </div>

    <!--  Les meilleures ventes  -->
    <div class="row vente">
        <div class="col-6">
            <h1>Nos meilleures ventes</h1>

            <a href="views/.php"><img src="assets/img/BODY/TOP%20VENTES%20guitare.png" alt="topguitare" title="topguitare"></a>
            <a href="views/.php"><img src="assets/img/BODY/TOP%20VENTES%20saxo.png" alt="topsaxo" title="topsaxo"></a>
            <a href="views/.php"><img src="assets/img/BODY/TOP%20VENTES%20piano.png" alt="toppiano" title="toppiano"></a>
        </div>

        <!--  Les partenaires  -->
        <div class="col-6 partenaires">
            <h1>Nos partenaires</h1>

            <a href="views/.php"><img src="assets/img/BODY/partenaires%204%20logos.png" alt="partenaires" title="partenaires"></a>
        </div>
    </div>
{% endblock %}