{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block body %}
    <h1 class="h1Inscription">Créez vos identifiants</h1>


    <!--  Formulaire  --!>
    <form action="../controllers/inscriptionForms.php" method="POST" id="formulaire_contact">

        <!--  E-mail  --!>
        <div class="mb-3 row text-end">
            <div class="col-1"></div>
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-3">
                <input type="text" class="form-control" id="email">
            </div>
            <div class="col-auto"></div>
            <div class="col-1"></div>
        </div>

        <!--  Mot de passe  --!>
        <div class="mb-3 row text-end">
            <div class="col-1"></div>
            <label for="mdp" class="col-2 col-form-label">Créez votre mot de passe</label>
            <div class="col-3">
                <input type="password" class="form-control" id="mdp">
            </div>
            <label for="confirmMdp" class="col-2 col-form-label">Confirmez votre mot de passe</label>
            <div class="col-3">
                <input type="password" class="form-control" id="confirmMdp">
            </div>
            <div class="col-1"></div>
        </div>

        <h1 class="h1Inscription">Créez vos identifiants</h1>

        <!--  Prénom  --!>
        <div class="row">
            <div class="col">
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="prenom" class="col-2 col-form-label">Prénom</label>
                    <div class="col">
                        <input type="text" class="form-control" id="prenom">
                    </div>
                </div>

                <!--  Nom  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="nom" class="col-2 col-form-label">Nom</label>
                    <div class="col">
                        <input type="text" class="form-control" id="nom">
                    </div>
                </div>

                <!--  Adresse  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="adresse" class="col-2 col-form-label">Adresse</label>
                    <div class="col">
                        <input type="text" class="form-control" id="adresse">
                    </div>
                </div>

                <!--  Complément dadresse  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="complementAdresse" class="col-2 col-form-label">Complément dadresse</label>
                    <div class="col">
                        <input type="text" class="form-control" id="complementAdresse">
                    </div>
                </div>

                <!--  CP  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="cp" class="col-2 col-form-label">Code postal</label>
                    <div class="col">
                        <input type="number" class="form-control" id="cp">
                    </div>
                </div>

                <!--  Ville  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="ville" class="col-2 col-form-label">Ville</label>
                    <div class="col">
                        <input type="text" class="form-control" id="ville">
                    </div>
                </div>

                <!--  Pays  --!>
                <div class="mb-3 row text-end">
                    <div class="col-1"></div>
                    <label for="pays" class="col-2 col-form-label">Pays</label>
                    <div class="col">
                        <input type="text" class="form-control" id="pays">
                    </div>
                </div>
            </div>

            <!--  Image numéro  --!>
            <div class="col">
                <img src="../assets/img/BODY/ESPACECLIENT/cadre_numero.png" alt="cadreNum" title="cadreNum">
            </div>
        </div>

        <!--  Bouton valider  --!>
        <div class="row">
            <div class="col"></div>
            <div class="col-1 m-5 rounded boutonSub">
                <button type="submit" class="btn" id="envoie">Valider</button>
            </div>
            <div class="col"></div>

        </div>
    </form>
{% endblock %}
